main > section {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

svg {
  width: 50px;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  margin: 5px;
  transition: 1s transform;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section > div,
main > section:nth-child(3) {
  margin: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

svg:hover,
svg:hover ~ svg,
svg:focus,
svg:focus ~ svg {
  transform: scale(1.5);
  fill: rgb(255, 234, 0);
  stroke: rgb(255, 234, 0);
}